<div class="jumbotron" style="
 background-image:url(https://i.pinimg.com/originals/46/db/7a/46db7a1e53c8bf8779258e83cb7a2b83.jpg);
 ">
	<div class="container" >
		<h1 class="display-3">Leilão Reverso</h1>
		<p>Sistema de gerenciamento Farmaceutico!</p>
	</div>
</div>


<div class="row">

  <div class="col-sm-6 col-md-4" id="sec" style="background-size: contain;object-fit: contain;
 background-image:url(https://png.pngtree.com/thumb_back/fw800/back_pic/05/08/20/56597b24addcdf6.jpg);
 ">
    <div class="thumbnail">
      <div class="caption">
        <p>
		O Leilão Reverso é uma pltaforma de negociações para donos de farmacias e fornecedores, 
		buscando facilitar, agilizar e melhorar as negoiações entre cliente e fornecedor.
		</p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4" id="sec" style="background-size: contain;object-fit: contain;
 background-image:url(https://png.pngtree.com/thumb_back/fw800/back_pic/05/08/20/56597b24addcdf6.jpg);
 ">
    <div class="thumbnail">
      <div class="caption">
        <p>
		Nosso foco é facilitar a vida de donos de farmacia e fornecedores, automatizando os médotodos de negociação.
		</p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4" id="sec" style="background-size: contain;object-fit: contain;
 background-image:url(https://png.pngtree.com/thumb_back/fw800/back_pic/05/08/20/56597b24addcdf6.jpg);
 ">
    <div class="thumbnail">
      <div class="caption">
        <p>
		Não perca mais tempo, para de realizar serviços manuais, você não precisa mais passar dias pesquisando o melhor fornecedor,
		e os melhores preços, como o Leilão Reverso a agilidade é praticidade é garantida.
		</p>
      </div>
    </div>
  </div>
</div>

