#div{
	color:#FFFFFF; 
	text-align:center;
	background-color:#2fa7b7;
	height:100%;
	min-height:600px;
	margin:10px;
	padding:20px;
	border-radius:10px;
}
#modalExemplo{
	color: black;
    background-color: none;
    height: none;
    min-height: none;
    margin: none;
    padding: 20px;
    border-radius: 10px;
}