<div class="container">
	<h1>REGULAMENTOS DO LEILÃO REVERSO</h1>
	<br/>
	<h4>Modalidade: Leilão Reverso </h4>
	<br/>
	<section>
		<p>
			As conformidades de data e hora da realização do Leilão Reverso estão presentes no documento de apresentação do leilão, conforme campo “Data Início” do documento Edital/Carta Convite do Leilão Reverso.
		<p>
	</section>
	<br/>
	<h4>Prorrogações </h4>
	<section>
		<p>
			Caso coincida no estouro do tempo limite do leilão, informação apresentada na documentação Edital/Carta Convite de entrada para o Leilão, no campo “Data Fim”, fica a critério da plataforma Leilão Reverso a prorrogação do tempo de duração dos lances para o Leilão.
		</p>
	</section>
	<br/>
	<h4>Produto </h4>
	<section>
		<p>
			Dadas as condições de participação do Leila Reverso, ao participar desta negociação, a proponente terá afirmado a aceitação das condições apresentadas no documento Edital/Carta Convite.
		</p>
	</section>
	<br/>
	<h4>Regras de Cotações </h4>
	<section>
		<p>
			•	Atenção: Caso haja alguma divergência entre a presente regra e o Edital/Carta Convite, prevalecerá o que consta no Edital/Carta Convite.
		</p>
		<p>
			•	A oferta deverá ser elaborada de acordo a ser dado o menor valor, avaliando as possíveis propostas de outros lances.
		</p>
		<p>
			Os lances deverão ser enviados conforme informado no Edital/Carta Convite, através da plataforma Leilão Reverso, para execução desta ação, o fornecedor deverá está cadastrado no FarmaComp, e ter realizado o login, em seguida acessar a plataforma Leilão Reverso por meio do menu de navegação, e utiliza o campo de fornecedores para realização do envio da proposta.
		</p>
	</section>
	<br/>
	<h4>Veracidade e Comprometimento </h4>
	<section>
		<p>
			O proponente, ao enviar um lance no leilão, terá expressado sua decisão irrevogável de concluir a transação a que se refere o leilão nos valores e condições do referido lance.
		</p>
		<p>
			Caso julgue necessário, o serviço de gerenciamento das negociações na plataforma ficará responsável por finalizar ou prorrogar manualmente o leilão, pelo período que julgar conveniente. Tal procedimento poderá ocorrer a qualquer momento durante a realização do leilão.
		</p>
	</section>
	<br/>
</div>
